/* Write your CSS here */

.button {
  height: 36px;
  width: 150px;
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #382f5a;
  border: 2px solid #c4c4c4;
  margin-top: 20px;
}
